.question {
    padding-top: 150px;
    padding-bottom: 150px;
}

.question .section_h2{
    margin-bottom: 50px;
    margin-top: 150px;
}

.question_items {
    padding-bottom: 150px;
}
.question_item {
    
}

.question_h3 {
    text-transform: uppercase;
    color: var(--accent_color);
    margin-bottom: 30px;
}
.close {
}

.question_p {
    margin-bottom: 40px;
    color: var(--grey_color);
    max-width: 730px;
}
.open {
}



.question_h3.close +.question_p{
    display: none;
}